body{
	margin: 0;
	font-family: Helvetica , Arial , sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #5c8859;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1, h2{
	font-family: 'Josefin Sans', sans-serif;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	
	width:  800px;

	
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 100px;
	padding-top: 20px;
	background-color: PapayaWhip;
}



main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #5c8859;
	margin: 40px 0 10px;
}

a{
	color: white;
}
a:hover{
	color: #d0b0b0;
}

footer{
	background-color: #5c8859;
	text-align: center;
	padding: 14px;
}

footer p{
	margin: 0;
}



p.caption{
	color: gray;
	font-style: italic;
	margin-top: 0;
	font-size: 15px;
}

.header-menu {
	display: flex;
	max-width: 800px;
	margin: 0 auto;
	color: white;
}

.header-menu-item {
	margin-right: 50px;
}

.footer {
	display: flex;
	flex-flow: column;
    justify-content: center;
}



.comment-box input {
	width: 100%;
	height: 50px;
	padding: 0 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid seagreen;
}

.comment-box textarea {
	width: 100%;
	height: 150px;
	padding: 15px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid seagreen;
}

.basic-grid {
    display: grid;
    gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 }

 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5c8859;
    
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

* {
	box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column1 {
  float: left;
  width: 25%;
  padding: 5px;
  padding-top: 30px;
}

.column2 {
  float: left;
  width: 75%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}