body{
	margin: 0;
	font-family: Helvetica , Arial , sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: darkseagreen;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Josefin Sans', sans-serif;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 200px;
	width:  180px;
	border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: darkseagreen;
	margin: 40px 0 10px;
}

a{
	color: darkseagreen;
}
a:hover{
	color: red;
}

footer{
	background-color: darkseagreen;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: black;
}

p.caption{
	color: gray;
	font-style: italic;
	margin-top: 0;
	font-size: 15px;
}